{% extends 'base.html' %}
{% block Main %}

<form method="POST">
{% csrf_token %}

<table border="2" cellspacing='10' cellpading='10'>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th>Delete</th>
    </tr>
    {% for c in cartlist %}
    <script>
    
        function calc()
        {
            var n1=document.getElementById('n1').value;
            var n2=document.getElementById('n2').value;
            
            var res=document.getElementById('result').value=n1*n2;
        }
    
    </script>
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.products.pname}}</td>
        <td><input type="number" id="n1" value="{{c.products.price}}" readonly></td>
        <td><input type="number" id="n2" value="1" onclick="calc();"></td>
        <td><input type="number" id="result" value="{{c.products.price}}"></td>
        <td><a href="deleteProduct_userCart//{{c.id}}">Delete</a></td>
       
    </tr>
    

    {% endfor %}
    <tr>
        <td colspan="4"><input type="submit" value="Place Order"></td>
        <td colspan="2"><input type="text" name="bill" value="{{totalBill}}" readonly></td>
    </tr>

</table>

</form>
<h1><br><br><br><br></h1>

{% endblock %}
