
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bmin.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/homepage.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include 'navBar.html' %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      {% include 'sideBar.html' %}

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        {% include 'slider.html' %}

        {% include 'productInfo.html' %}
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/bmin.js'%}"></script>
  <script src="{% static 'js/min.js'%}"></script>

</body>

</html>